---
---

@import "{{ site.theme }}";

html {
  overflow-y: scroll;
}

.inner {
  max-width: 800px;
}

img {
  max-width: initial;
}

code {
  font-size: 80%;
  background-color: #f8f8f8;
}

ul {
  margin-left: 1em;
}

@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

#main_content h1 {
  color: #dd3c69;
}

h1, h2, h3, h4, h5, h6 {
  color: #2aa198;
}

#project_title {
  line-height: 1;
}

#project_title a {
  color: #ffffff;
  font-size: 32px;
}

#project_tagline {
  font-size: 16px;
}

#forkme_banner {
  padding: 5px 50px 5px 10px
}

#header_wrap .inner {
  padding: 20px 10px;
}

footer p {
  margin: 0px;
}

#demo-player {
  height: 34.3em;
  margin: 20px 31px;
  font-size: 12px;
  background-color: #121314;
}
