---
---

@import "{{ site.theme }}";

.inner {
  max-width: 960px;
}

img {
  max-width: initial;
}

@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

#main_content h1 {
  color: #dd3c69;
}

h1, h2, h3, h4, h5, h6 {
  color: #2aa198;
}

#project_title a {
  color: #ffffff;
}

#project_tagline {
  font-size: 20px;
}

  ul {
  list-style: none;
  margin-bottom: 0;
}
